#body1{
  background-image:url("http://imglf2.nosdn.127.net/img/NnpWTTFzcTFiMi9nK254S05QdjlwYkQrQVdvY29mbk40TVdHd1JTVGFPVndYZCtSeDAxTnd3PT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg%7Cwatermark&type=2&text=wqkg566A54ix5omL57uYIC8gamF2ZWV5cmUubG9mdGVyLmNvbQ==&font=bXN5aA==&gravity=southwest&dissolve=30&fontsize=340&dx=16&dy=20&stripmeta=0");
  background-repeat: repeat;
}

#body2{
  background-image:url("http://upload.ellemen.com/2015/1229/1451379834488.png");
  background-repeat: repeat;
}

#body3{
  background-image:url("https://s9.rr.itc.cn/r/wapChange/20171_17_19/a8vlx76311599722331.jpeg");
  background-repeat: repeat;
}

ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 9%;
    left: 10%;
    width: 10em
    }
ul.navbar li {
   background: rgb(251,211,65);
   margin: 0.5em;
   padding: 0.5em;
   border-right: 1em solid #343434 }
 ul.navbar a {
   text-decoration:none;
   color:#343434;
  }
 a:visited {
   color: #227D51
   }

#main_page{
  width:600px;
  height:350px;
  background-color: rgba(251,211,65,0.8);
  position:absolute;
  margin-left: 20px;
  margin-right: 20px;
  top:10%;
  left:27%;
  float:left;
}

#show_area{
  width:600px;
  height:1200px;
  position:absolute;
  background-color: rgba(251,249,175,0.9);
  top:410px;
  left:27%;
  float:left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  display:none;
}

#main_page_2{
  width:650px;
  height:380px;
  background-color: rgba(228,228,228,0.8);
  position:absolute;
  margin-left: 20px;
  margin-right: 20px;
  top:10%;
  left:27%;
  float:left;
}

#main_page_3{
  width:650px;
  height:2050px;
  background-color: rgba(249,249,249,0.8);
  position:absolute;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  top:10%;
  left:27%;
  float:left;
}


#show_table{
  width:650px;
  height:533px;
  position:absolute;
  background-color: rgba(251,249,175,0.9);
  top:450px;
  left:21.5%;
  float:left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  left:27%;
  display:none;
}

h1{
  font-family: Century Gothic;
  font-weight: bold;
  color:#393e46;
  text-align:center;
}

.title{
  font-family:Century Gothic;
  font-weight:bold;
  font-size:16px;
  margin-left:5%;
}

#p1{
  font-family: Century Gothic;
  color:#393e46;
  text-align:center;
  margin-top: 5%;
  margin-bottom: 5%;
  line-height: 20px;
}

#p2{
  font-family: Century Gothic;
  color:#393e46;
  text-align:justify;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right:5%;
  line-height: 20px;
}

#p2_1{
  font-family: Century Gothic;
  color:#393e46;
  text-align:center;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right:5%;
  line-height: 20px;
}

#button1{
  background-color: #f8b500;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: Century Gothic;
  font-weight:bold;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-left: 34%;
  margin-right:33%;
  margin-top: 1%;
  float:left;
  align:left;
}

#button1:hover{
  background-color:#00adb5;
}

#button2_1{
  background-color: #f8b500;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: Century Gothic;
  font-weight:bold;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-left: 32%;
  margin-right:33%;
  margin-top: 2%;
}

#button2_1:hover{
  background-color:#3c7daf;
}
